/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}


img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 40px;
    margin: 50px 0;
}

h3 {
    padding: 10px 0;
}


/* regole comuni */

.block > * {
    display: block;
}

a.default {
    text-decoration: underline;
    color: #70a6f8;
}

.button {
    color: #ffffff;
    background-color: #0061ff;
    padding: 8px 25px;
    text-align: center;
}

.container {
    width: 60%;
    margin: 150px auto;
}

.container-80 {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row.wrap {
    flex-wrap: wrap;
}

.col-60 {
    width: 60%;
}

.col-20 {
    width: 20%;
    padding: 10px;
}

.col-40 {
    width: 40%;
    padding: 0 20px;
}


.col-33 {
    width: calc(100% / 3);
}

.green-bg {
    background-color: #a2d39b; 
 }

 .brown-bg {
    background-color: #61082b; 
 }

 .azure-bg {
    background-color: #0093ce; 
 }

 .red-bg {
    background-color: #ff1c1c; 
 }
 
 .dkred-bg {
    background-color: #d5001f; 
 }

 .grey-bg {
    background-color: #b4d0e7; 
 }

 .blue-bg {
    background-color: #0d2481; 
 }

 .yellow-bg {
    background-color: #ffd830; 
 }





 






/* regole header  */

header {
    height: 650px;
}


/* regole main menu */
#main-menu {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: #ffffff;
}

#menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


ul.row {
    font-size: small;
    gap: 20px;
}


/* regole jumbotron */

#jumbotron {
    padding-top: 100px;
}

#jumbotron h1 {
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 25px;
}

#jumbo-content {
    display: flex;
    align-items: flex-start;
}

.col-40 div {
    margin-top: 30px;
}

.fa-arrow-down {
    font-size: 60px;
}





/* regole main */

.invoice {
    margin: 40px 0 30px;
}

.invoice span {
    padding-right: 30px;
}

.row.first {
    gap: 20px;
}

.plan {
    padding: 15px;    
}

.plan.option {
    text-align: center;
    border-bottom: solid 1px #e2e2e4;
}

.bordered {
    border: solid 1px #e2e2e4;
}

.plan.info > * {
    padding: 30px 0;
}

.enterprise {
    margin-top: 20px;
}

.enterprise .col-40 div {
    text-align: right;
}

.bottom-info {
    padding: 40px 0;
}

.col-40.spaced > * {
    margin: 30px 0;
}

#find {
    border: 2px solid black;
}

.features > * {
    text-align: center;
    padding: 10px;
}

.wrapper {
    width: 100%;
    display: flex;
}

.col-33.scroll {
    max-height: 100%;
    overflow-y: auto;
    padding: 30px;
}

.col-33.scroll > * {
    margin-top: 40px;
}

.square {
    width: calc(100% / 2);
    aspect-ratio: 1/1;
    position: relative;
}

.square img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.grey-bg .container {
    margin-top: 0;
    padding: 50px 0;
}

section.grey-bg h2 {
    color:#61082b;
}

.button.white {
    color: #111111;
    background-color: #ffffff;   
}

ul.faq {
    border-top:solid 1px #e2e2e4;
    padding: 0;
}

.faq {
    border-bottom: solid 1px #e2e2e4;
    padding: 20px 0;
}

.fa-chevron-down {
    float: right;
}






























/* regole footer */
 footer {
    min-height: 400px;
    background-color: #000000;
    color: white;
 }

 footer .row {
    gap: 20px;
 }

.language {
    margin: 50px 0 20px;
}

.language span {
    padding-top: 50px;
    border-top: solid 1px #e2e2e4; 
}

